- @post.comments.each do |comment|
  %img.img-circle{:alt => "...", :src => "../assets/user8-100x100.jpg", :style => "width:64px; height:64px"}
  - epa = User.find_by_id(comment.user_id)
  = epa.name.capitalize 
  %p
    %strong Comment:
    = comment.content
