.container-fluid
  .row
    .col-md-4
      = form_for([@post, @post.comments.build],html: {id: :form_comment }) do |f|
        .form-group
        .col-md-12
          %div.input-group
            = f.text_area :content,class: 'form-control', placeholder: "add comment..."
            = button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-send pull-right color"
