// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-registro {
    float: right;
    margin-top: 6px;
}

.form-group.td {
    width: 250px;
    padding-left: 8px;
    padding-right: 8px;
}


secction.content {
    width: 83%;
    height: 100px;
   
    position: absolute;
    top: 89px;
}


.homepage {
    background: #272b38;
    color: #48d8a0;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
   
}

img.tr {
    border-radius: 100px;
}